<div class="container">
  <div class="form-container">
    <form action="/answer" method='get'>
      <input type="text" name="answer" placeholder="ask the stupid coach something">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
