// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: rgb(250,250,250);
  color: rgb(40,40,40);
}

body, h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
}

a, a:visited {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  margin: 0 auto;
}

.answer-container {
  padding: 16px;
  flex-direction: column;
  width: 400px;
}

.answer-card {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-bottom: 40px;
  padding: 16px;
  line-height: 1.6em;
}

.coach {
  background-color: #FEFFE1;
}

.answer-card-user {
  font-style: italic;
}
